<section class="form">
    <p id="rubricInfo-error" class="admin-title">Modifier l'en-tête</p>

    {{ form_start(rubricInfoForm) }}

    {{ form_errors(rubricInfoForm.title) }}
    {{ form_row(rubricInfoForm.title) }}
    {{ form_errors(rubricInfoForm.text) }}

    {{ form_label(rubricInfoForm.text) }}
    <div class="quill-resizable">
        {{ form_widget(rubricInfoForm.text) }}
        <div class="quill-resizable__handle"></div>
    </div>

    <div id="rubricInfo-tabs" class="tabs-form">
        <div class="tabs-form__tabs">
            <button
                type="button"
                class="tabs-form__tab-button tabs-form__tab-button--active"
                data-tab="galerie-image">
                Ajouter une image de la galerie
            </button>
            <button
                type="button"
                class="tabs-form__tab-button"
                data-tab="uploaded-image">
                Envoyer une image
            </button>
        </div>
        <div class="tabs-form__tab-content tabs-form__tab-content--active" data-tab="galerie-image">
        {{ form_errors(rubricInfoForm) }}
        {{ form_errors(rubricInfoForm.GalleryImage) }}
        {{ form_errors(rubricInfoForm.uploadedImage) }}
        {{ form_errors(rubricInfoForm.alt) }}
            <div id="galleryImage">
                {{ form_label(rubricInfoForm.GalleryImage) }}
                {% for choice in rubricInfoForm.GalleryImage %}
                {% if choice.vars.id === 'rubric_info_GalleryImage_placeholder' %}
                    <div>
                        {{ form_widget(choice) }}
                        <label for="{{ choice.vars.id }}">
                            <p>{{ choice.vars.label }}</p>
                            <img src="{{ asset('images/Placeholder_view_vector.svg') }}" alt="">
                        </label>
                    </div>
                {% else %}
                    <div class="{{ choice.vars.name|number_format in rubricGalleryIds ? 'hide-image' }}">
                        {{ form_widget(choice) }}
                        <label for="{{ choice.vars.id }}">
                            <p>{{ choice.vars.label }}</p>
                            <img src="{{ asset(galleryImages[loop.index - 2].path) }}" alt="">
                        </label>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tabs-form__tab-content" data-tab="uploaded-image">
            {{ form_label(rubricInfoForm.uploadedImage) }}
            <div class="tabs-form__upload-image">
                {{ form_widget(rubricInfoForm.uploadedImage) }}
                <div class="form-label-with-help">
                    {{ form_label(rubricInfoForm.alt) }}
                    <span
                        class="help-tooltip"
                        title="{{ rubricInfoForm.alt.vars.help }}"
                    >
                    ⓘ
                    </span>
                </div>
                {{ form_widget(rubricInfoForm.alt) }}
            </div>
        </div>
    </div>

    {{ form_row(rubricInfoForm.save) }}
    {{ form_end(rubricInfoForm) }}
</section>