{% extends 'base.html.twig' %}

{% block title %}Association TAM : Thérapies, Arts & Médiations - Rapports d'activité{% endblock %}

{% block body %}
    <main>
        {% include "partials/_left_banner.html.twig" %}
            <section class="reports section">
                <section>
                    <h1 class="section__title">{{ rubricInfo.title }}</h1>
                    {% if rubricInfo.getGalleryImage is not empty %}
                    <img  class="section__image" src="{{ asset(rubricInfo.getGalleryImage.path) }}" alt="{{ rubricInfo.getGalleryImage.alt }}">
                    {% endif %}
                    {{ rubricInfo.text|raw }}
                </section>
                <section>
                    <ul class="reports__list">
                        <div class="line"></div>
                        {% for report in reports %}
                        <li class="reports__list-item">
                            <div class="reports__list-bullet"></div>
                            <div class="reports__list-text">
                                <a href="{{ asset(report.path) }}">
                                    <img src="{{ asset(report.image) }}" alt="">
                                    </a>
                                <p>{{ report.description }}</p>
                            </div>
                        </li>
                        {% endfor %}
                        <div class="white-line"></div>
                    </ul>
                </section>
                <section>
                    <h2 class="section__small-title">De petits chiffres de grandes actions…</h2>
                    <p>Si les chiffres ne sont pas spectaculaires ils sont toutefois éloquents. Ce sont autant de fils de vie renforcés d’espoir et de joie retrouvé de liens consolidés. </p>
                </section>
            </section>
        {% include "partials/_right_banner.html.twig" %}
    </main>
{% endblock %}
