{% extends 'base.html.twig' %}

{% block title %}Admin TAM : Contact{% endblock %}

{% block body %}
    <main>
        {% include "partials/_left_banner.html.twig" %}
            <section class="contact section">
                <p id="rubricInfo" class="admin-title">En-tête</p>
                {% if rubricInfo.title is not empty or rubricInfo.getGalleryImage.path is defined or rubricInfo.text is empty %}
                <section>
                    <h1 class="section__title">{{ rubricInfo.title }}</h1>
                    {% if rubricInfo.getGalleryImage is not empty %}
                    <img  class="section__image" src="{{ asset(rubricInfo.getGalleryImage.path) }}" alt="{{ rubricInfo.getGalleryImage.alt }}">
                    {% endif %}
                    <div class="subsection__text">{{ rubricInfo.text|quill_html|raw }}</div>
                </section>
                {% endif %}
                {% include "back/partials/_rubric_info_form.html.twig" %}
                <section class="form">
                    <p id="contact" class="admin-title">Modifier les informations de contact du site</p>
                    <iframe src="https://www.google.com/maps?q={{ contactInfo.getStreet ?? '' }}, {{ contactInfo.getPostalCode ?? '' }} {{ contactInfo.getCity ?? '' }}&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                {{ form(contactInfoForm) }}
                </section>
                <section id="contactSections">{% include "back/partials/_sections.html.twig" %}</section>
            </section>
        {% include "partials/_right_banner.html.twig" %}
    </main>
{% endblock %}
