    <header id="header" class="header" role="banner">
        <div class="header__logo" id="toggleNavbar">
            <img src="{{ asset('images/logo-transparent-bg.png') }}" alt="Logo de l'association TAM">
        </div>
        <button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="nav" id="icons" class="header__buttons" aria-label="Ouvrir ou fermer le menu de navigation">
            <span class="sr-only">Menu</span>
        </button>
        <nav id="nav" role="navigation" class="header__navbar">
            <ul role="menubar" class="header__nav-links">
                <li class="header__nav-links--yellow">
                    <div class="shape lines"></div>
                    <a role="menuitem" class="active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                </li>
                <li class="header__nav-links--blue parent__menu">
                    <div class="shape spirale"></div>
                    <button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="who_submenu" class="submenu__button">Qui sommes-nous ?</button>
                    <ul role="menu" id="who_submenu" class="submenu">
                        <li class="submenu__item">
                            <a role="menuitem" href="{{ path('app_association') }}">L'association</a>
                        </li>
                        <li class="submenu__item">
                            <a role="menuitem" href="{{ path('app_team') }}">L'équipe</a>
                        </li>
                        <li class="submenu__item">
                            <a role="menuitem" href="{{ path('app_reports') }}">Rapports d'activité</a>
                        </li>
                    </ul>
                </li>
                <li class="header__nav-links--green parent__menu">
                    <div class="shape spirale"></div>
                    <button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="actions_submenu" class="submenu__button">Actions</button>
                    <ul role="menu" id="actions_submenu" class="submenu">
                        <li class="submenu__item">
                            <a role="menuitem" href="{{ path('app_actions_france') }}">En France</a>
                        </li>
                        <li class="submenu__item">
                            <a role="menuitem" href="{{ path('app_actions_benin') }}">Au Bénin</a>
                        </li>
                    </ul>
                </li>
                <li class="header__nav-links--orange">
                    <div class="shape spirale"></div>
                    <a role="menuitem" href="{{ path('app_training') }}">Formation</a>
                </li>
                <li class="header__nav-links--turquoise">
                    <div class="shape spirale"></div>
                    <a role="menuitem" href="{{ path('app_research') }}">Recherche</a>
                </li>
                <li class="header__nav-links--red">
                    <div class="shape spirale"></div>
                    <a role="menuitem" href="{{ path('app_resources') }}">Ressources</a>
                </li>
                <li class="header__nav-links--yellow">
                    <div class="shape spirale"></div>
                    <a role="menuitem" href="{{ path('app_support') }}">Nous soutenir</a>
                </li>
                <li class="header__nav-links--light-blue">
                    <div class="shape spirale"></div>
                    <a role="menuitem" href="{{ path('app_contact') }}">Contact</a>
                </li>
            </ul>
        </nav>
    </header>