{% extends 'base.html.twig' %}

{% block title %}Association TAM : Thérapies, Arts & Médiations - Équipe{% endblock %}

{% block body %}
    <main>
        {% include "partials/_left_banner.html.twig" %}
            <section class="team section">
                <section>
                    <h1 class="section__title">{{ rubricInfo.title }}</h1>
                    {% if rubricInfo.getGalleryImage is not empty %}
                    <img  class="section__image" src="{{ asset(rubricInfo.getGalleryImage.path) }}" alt="{{ rubricInfo.getGalleryImage.alt }}">
                    {% endif %}
                    {{ rubricInfo.text|raw }}
                </section>
                <section class="subsection team__container president">
                    <h2 class="subsection__title">Président d'honneur</h2>
                    <a class="team__card" href="{{ path('app_eulogy') }}">
                        <img src="{{ asset('images/team/Président d\'honneur Moussa NB F.jpg') }}" alt="Dr Moussa Maman Bello">
                        <div class="team__card__text">
                            <h2 class="team__card__name">Dr Moussa Maman Bello</h2>
                            <p>Ethno médecin <br> Thérapeute traditionnel</p>
                        </div>
                    </a>
                </section>
                <section class="subsection">
                    <h2 class="subsection__title">Les membres du bureau</h2>
                    <div class="team__container">
                    {% for teamMember in teamMembers %}
                    {% if teamMember.role === 'board' %}
                        <div class="team__card">
                        {% if teamMember.image %}
                            <img src="{{ asset(teamMember.image) }}" alt="{{ teamMember.name }}">
                        {% else %}
                            <img src="{{ asset('images/team/default-user-picture.png') }}" alt="{{ teamMember.name }}">
                        {% endif %}
                            <div class="team__card__text">
                                <h2 class="team__card__name">{{ teamMember.name }}</h2>
                                <p class="team__card__bio">{{ teamMember.presentation }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </section>
                <section class="subsection">
                    <h2 class="subsection__title">Les intervenants</h2>
                    <div class="team__container">
                    {% for teamMember in teamMembers %}
                    {% if teamMember.role === 'contributors' %}
                        <div class="team__card">
                            {% if teamMember.image %}
                                <img src="{{ asset(teamMember.image) }}" alt="{{ teamMember.name }}">
                            {% else %}
                                <img src="{{ asset('images/team/default-user-picture.png') }}" alt="{{ teamMember.name }}">
                            {% endif %}
                            <div class="team__card__text">
                                <h2 class="team__card__name">{{ teamMember.name }}</h2>
                                <p class="team__card__bio">{{ teamMember.presentation }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </section>
                <section class="subsection">
                    <h2 class="subsection__title">Les experts</h2>
                    <div class="team__container">
                    {% for teamMember in teamMembers %}
                    {% if teamMember.role === 'experts' %}
                        <div class="team__card">
                            {% if teamMember.image %}
                                <img src="{{ asset(teamMember.image) }}" alt="{{ teamMember.name }}">
                            {% else %}
                                <img src="{{ asset('images/team/default-user-picture.png') }}" alt="{{ teamMember.name }}">
                            {% endif %}
                            <div class="team__card__text">
                                <h2 class="team__card__name">{{ teamMember.name }}</h2>
                                <p class="team__card__bio">{{ teamMember.presentation }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </section>
                {% for teamSection in teamSections %}

                <section class="subsection">
                    {% if teamSection.title is not empty %}
                        <h2
                            class="subsection__title {{ teamSection.aside|default ? 'subsection__title-grid' : '' }}">
                            {{ teamSection.title }}
                        </h2>
                    {% endif %}
                    <div>
                    {{ teamSection.text|raw }}
                    </div>
                    {% if teamSection.aside is not empty %}
                        <aside class="subsection__quote {{ teamSection.left ? 'left' : '' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 -960 960 960" width="24px" fill="currentColor"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm457-560 21-89-71-59 94-8 36-84 36 84 94 8-71 59 21 89-80-47-80 47ZM480-481Z"/></svg>
                            <blockquote>"{{ teamSection.aside }}"</blockquote>
                        </aside>
                    {% endif %}
                </section>

                {% endfor %}
            </section>
        {# {% include "partials/_left_banner.html.twig" %} #}
    </main>
{% endblock %}
