<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Association TAM : Thérapies, Arts & Médiations{% endblock %}</title>
        {{ font_manager('Source Sans 3', '400 700', 'normal italic') }}
        <link rel="icon" href="{{ asset('images/icone-bonhomme.png') }}" type="image/x-icon">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body data-turbo="false">
    {% if scrollTo|default(null) %}
        <script>
            window.location.hash = '{{ scrollTo }}';
        </script>
    {% endif %}
    {% set adminInterface = false %}
        {% if app.request.get('_route') starts with 'admin_' %}
            {% set adminInterface = true %}
        {% endif %}
        {% include "partials/_header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/_footer.html.twig" %}
        {% include "partials/_lightbox.html.twig" %}
        {% include "partials/_messages.html.twig" %}
    </body>
</html>
