    {% set currentRoute = app.request.attributes.get('_route') %}

<header id="header" class="header" role="banner">
    <div class="header__logo" id="toggleNavbar">
        <img src="{{ asset('images/logo-transparent-bg.png') }}" alt="Logo de l'association TAM">
    </div>
    <button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="nav" id="icons" class="header__buttons" aria-label="Ouvrir ou fermer le menu de navigation">
        <span class="sr-only">Menu</span>
    </button>
    <nav id="nav" role="navigation" class="header__navbar">
        <ul role="menubar" class="header__nav-links">
            <li class="header__nav-links--yellow">
                <div class="shape lines"></div>
                <a {{ currentRoute == 'admin_home' ? 'class="active" aria-current="page"':'' }} role="menuitem" href="{{ path('admin_home') }}">Accueil</a>
            </li>
            <li class="header__nav-links--blue parent__menu">
                <div class="shape spirale"></div>
                <button {{ 'association' in currentRoute or 'team' in currentRoute or 'reports' in currentRoute ? 'class="active" aria-current="page"':'' }} type="button" aria-haspopup="true" aria-expanded="false" aria-controls="who_submenu" class="submenu__button">Qui sommes-nous ?</button>
                <ul role="menu" id="who_submenu" class="submenu">
                    <li class="submenu__item">
                        <a role="menuitem" href="{{ path('admin_association') }}">L'association</a>
                    </li>
                    <li class="submenu__item">
                        <a role="menuitem" href="{{ path('admin_team') }}">L'équipe</a>
                    </li>
                    <li class="submenu__item">
                        <a role="menuitem" href="{{ path('admin_reports') }}">Rapports d'activité</a>
                    </li>
                </ul>
            </li>
            <li class="header__nav-links--green parent__menu">
                <div class="shape spirale"></div>
                <button {{ 'france' in currentRoute or 'benin' in currentRoute ? 'class="active" aria-current="page"':'' }} type="button" aria-haspopup="true" aria-expanded="false" aria-controls="actions_submenu" class="submenu__button">Actions</button>
                <ul role="menu" id="actions_submenu" class="submenu">
                    <li class="submenu__item">
                        <a role="menuitem" href="{{ path('admin_france') }}">En France</a>
                    </li>
                    <li class="submenu__item">
                        <a role="menuitem" href="{{ path('admin_benin') }}">Au Bénin</a>
                    </li>
                </ul>
            </li>
            <li class="header__nav-links--orange">
                <div class="shape spirale"></div>
                <a {{ currentRoute == 'admin_training' ? 'class="active" aria-current="page"':'' }} role="menuitem" href="{{ path('admin_training') }}">Formation</a>
            </li>
            <li class="header__nav-links--turquoise">
                <div class="shape spirale"></div>
                <a role="menuitem" href="{{ path('admin_resources') }}">Ressources</a>
            </li>
            <li class="header__nav-links--light-blue">
                <div class="shape spirale"></div>
                <a {{ currentRoute == 'admin_contact' ? 'class="active" aria-current="page"':'' }} role="menuitem" href="{{ path('admin_contact') }}">Contact</a>
            </li>
        </ul>
    </nav>
    <div id="js-data" data-current-route="{{ app.current_route }}"></div>
</header>