{% extends 'base.html.twig' %}

{% block title %}Association TAM : Contact{% endblock %}

{% block body %}
    <main>
        {% include "partials/_left_banner.html.twig" %}
            <section class="contact section">
                <section>
                    <h1 class="section__title">{{ rubricInfo.title }}</h1>
                    {% if rubricInfo.getGalleryImage is not empty %}
                    <img  class="section__image" src="{{ asset(rubricInfo.getGalleryImage.path) }}" alt="{{ rubricInfo.getGalleryImage.alt }}">
                    {% endif %}
                    <div class="subsection__text">{{ rubricInfo.text|quill_html|raw }}</div>
                </section>
                <section class="contact__info">
                    <div>
                        Mail : <a class="contact__link" href="mailto:{{ contactInfo.getEMail ?? '' }}">{{ contactInfo.getEMail ?? '' }}</a><br>
                        Téléphone : <a class="contact__link" href="tel:{{ contactInfo.getPhone ?? '' }}">{{ contactInfo.getPhone ?? '' }}</a><br>
                        Adresse : <a class="contact__link" href="https://www.google.com/maps?q={{ contactInfo.getStreet ?? '' }}, {{ contactInfo.getPostalCode ?? '' }} {{ contactInfo.getCity ?? '' }}" target="_blank">{{ contactInfo.getStreet ?? '' }}, {{ contactInfo.getPostalCode ?? '' }} {{ contactInfo.getCity ?? '' }}</a>
                    </div>
                    <iframe src="https://www.google.com/maps?q={{ contactInfo.getStreet ?? '' }}, {{ contactInfo.getPostalCode ?? '' }} {{ contactInfo.getCity ?? '' }}&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </section>
                {% for contactSection in contactSections %}
                    <section class="subsection">
                        {% if contactSection.title is not empty %}
                            <h2
                                class="subsection__title {{ contactSection.aside|default ? 'subsection__title-grid' : '' }}">
                                {{ contactSection.title }}
                            </h2>
                        {% endif %}
                        <div class="subsection__text">
                        {{ contactSection.text|quill_html|raw }}
                        </div>
                        {% if contactSection.aside is not empty %}
                            <aside class="subsection__quote {{ contactSection.leftSide ? 'left' : '' }}">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 -960 960 960" width="24px" fill="currentColor"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm457-560 21-89-71-59 94-8 36-84 36 84 94 8-71 59 21 89-80-47-80 47ZM480-481Z"/></svg>
                                <blockquote>"{{ contactSection.aside }}"</blockquote>
                            </aside>
                        {% endif %}
                    </section>

                    {% endfor %}
                <section id="erreurs" class="form">
                    <h2 class="subsection__title">Nous contacter :</h2>
                    <p>
                        Une question, une envie de nous rejoindre, un projet de partenariat, une candidature à la formation ?
                        <br>
                        N’hésitez pas à nous contacter via notre formulaire ou par mail.
                    </p>
                    {{ form_start(form) }}
                    <div class="honeypot" aria-hidden="true">
                        {{ form_row(form.website) }}
                    </div>
                    {{ form_end(form) }}
                </section>
            </section>
        {% include "partials/_right_banner.html.twig" %}
    </main>
{% endblock %}
