{% extends 'base.html.twig' %}

{% block title %}Association TAM : Thérapies, Arts & Médiations - Équipe{% endblock %}

{% block body %}
    <main>
      <div class="banner-container">
        <div class="banner"></div>
        <div class="banner__pusher">
            <section class="team section">
                <section>
                    <h1 class="section__title">{{ rubricInfo.title }}</h1>
                    {% if rubricInfo.getGalleryImage is not empty %}
                    <img  class="section__image" src="{{ asset(rubricInfo.getGalleryImage.path) }}" alt="{{ rubricInfo.getGalleryImage.alt }}">
                    {% endif %}
                    {{ rubricInfo.text|raw }}
                </section>
                <section class="subsection team__container president">
                    <h2 class="subsection__title">Président d'honneur</h2>
                    <a class="team__card" href="{{ path('app_eulogy') }}">
                        <img src="{{ asset('images/team/Président d\'honneur Moussa NB F.jpg') }}" alt="Dr Moussa Maman Bello">
                        <div class="team__card__text">
                            <h2 class="team__card__name">Dr Moussa Maman Bello</h2>
                            <p>Ethno médecin <br> Thérapeute traditionnel</p>
                        </div>
                    </a>
                </section>
                <section class="subsection">
                    <h2 class="subsection__title">Les membres du bureau</h2>
                    <div class="team__container">
                    {% for teamMember in teamMembers %}
                    {% if teamMember.role === 'board' %}
                        <div class="team__card">
                        {% if teamMember.image %}
                            <img src="{{ asset(teamMember.image) }}" alt="{{ teamMember.name }}">
                        {% else %}
                            <img src="{{ asset('images/team/default-user-picture.png') }}" alt="{{ teamMember.name }}">
                        {% endif %}
                            <div class="team__card__text">
                                <h2 class="team__card__name">{{ teamMember.name }}</h2>
                                <p class="team__card__bio">{{ teamMember.presentation }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}

                        {# <div class="team__card">
                            <img src="../images/team/EXPERT Jean Marc NB F.jpg" alt="">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Jean Marc Leblanc</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="team__card">
                            <img src="../images/team/EXPERT Elisabeth NB F.jpg" alt="Elisabeth Collin">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Elisabeth Collin</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur consectetur</p>
                            </div>
                        </div>
                        <div class="team__card">
                            <img src="../images/team/Psychologue Sonia NB F.jpg" alt="Sonia Ould Ami">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Sonia Ould Ami</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div> #}
                    </div>
                </section>
                <section class="subsection">
                    <h2 class="subsection__title">Les intervenants</h2>
                    <div class="team__container">
                    {% for teamMember in teamMembers %}
                    {% if teamMember.role === 'contributors' %}
                        <div class="team__card">
                            {% if teamMember.image %}
                                <img src="{{ asset(teamMember.image) }}" alt="{{ teamMember.name }}">
                            {% else %}
                                <img src="{{ asset('images/team/default-user-picture.png') }}" alt="{{ teamMember.name }}">
                            {% endif %}
                            <div class="team__card__text">
                                <h2 class="team__card__name">{{ teamMember.name }}</h2>
                                <p class="team__card__bio">{{ teamMember.presentation }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                        {# <div class="team__card">
                            <img src="../images/team/Chargée de mission Catherine NB F.jpg" alt="Catherine Briand">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Catherine Briand</h2>
                                <p>Art-thérapeutes<br>Artiste ethno-psy</p>
                            </div>
                        </div>
                        <div class="team__card">
                            <img src="../images/team/default-user-picture.png" alt="">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Nom Prénom</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="team__card">
                            <img src="../images/team/EXPERT Elisabeth NB F.jpg" alt="Elisabeth Collin">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Elisabeth Collin</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="team__card">
                            <img src="../images/team/Psychologue Sonia NB F.jpg" alt="Sonia Ould Ami">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Sonia Ould Ami</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div> #}
                    </div>
                </section>
                <section class="subsection">
                    <h2 class="subsection__title">Les experts</h2>
                    <div class="team__container">
                    {% for teamMember in teamMembers %}
                    {% if teamMember.role === 'experts' %}
                        <div class="team__card">
                            {% if teamMember.image %}
                                <img src="{{ asset(teamMember.image) }}" alt="{{ teamMember.name }}">
                            {% else %}
                                <img src="{{ asset('images/team/default-user-picture.png') }}" alt="{{ teamMember.name }}">
                            {% endif %}
                            <div class="team__card__text">
                                <h2 class="team__card__name">{{ teamMember.name }}</h2>
                                <p class="team__card__bio">{{ teamMember.presentation }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                        {# <div class="team__card">
                            <img src="../images/team/EXPERT Jean Marc NB F.jpg" alt="">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Jean Marc Leblanc</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="team__card">
                            <img src="../images/team/EXPERT Elisabeth NB F.jpg" alt="Elisabeth Collin">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Elisabeth Collin</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="team__card">
                            <img src="../images/team/Psychologue Sonia NB F.jpg" alt="Sonia Ould Ami">
                            <div class="team__card__text">
                                <h2 class="team__card__name">Sonia Ould Ami</h2>
                                <p class="team__card__bio">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div> #}
                    </div>
                </section>
                {% for teamSection in teamSections %}

                <section class="subsection">
                    {% if teamSection.title is not empty %}
                        <h2
                            class="subsection__title {{ teamSection.aside|default ? 'subsection__title-grid' : '' }}">
                            {{ teamSection.title }}
                        </h2>
                    {% endif %}
                    <div>
                    {{ teamSection.text|raw }}
                    </div>
                    {% if teamSection.aside is not empty %}
                        <aside class="subsection__quote {{ teamSection.left_side ? 'left_side' : '' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewbox="0 -960 960 960" width="24px" fill="currentColor"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm457-560 21-89-71-59 94-8 36-84 36 84 94 8-71 59 21 89-80-47-80 47ZM480-481Z"/></svg>
                            <blockquote>"{{ teamSection.aside }}"</blockquote>
                        </aside>
                    {% endif %}
                </section>

                {% endfor %}
                {# <section class="team__volunteers">
                    <h2 class="section__small-title">À retrouver à nos côtés dans nos rapports d’activité :</h2>
                    <ul class="section__list">
                        <li><strong>Les stagiaires :</strong> , Anouk, Christine, Danielle, Karine, Léane. Marie, Mélanie.</li>
                        <li><strong>Les jeunes Services civiques :</strong> Romane</li>
                        <li><strong>Les bénévoles :</strong> Anaïs, Arthur, Christine, Diaty, Fatima, Hélène, Marilo, Marie, France, Mathilde, Safi, Youssouf.</li>
                    </ul>
                </section>
                <section class="team__parters">
                    <h2 class="section__small-title">Nos partenariats :</h2>
                    <ul>
                        <li>
                            <strong>Les Institutions :</strong> ARS, Agence Régionale de Santé, DDCS, Direction Départementale de la Cohésion Sociale. Département du Val de Marne Ile de France, Egalités des chances, EPT Grand Orly.-Seine Bièvre.
                        </li>
                        <li>
                            <strong>Les villes :</strong> Antony, Bobigny, Choisy le Roi, Créteil, Ivry sur Seine, Valenton
                        </li>
                        <li>
                            <strong>Les bailleurs sociaux :</strong> ADEF, Coallia, Philia.
                        </li>
                        <li>
                            <strong>Les fondations :</strong> FMS, Fondation Maison et Sciences de l’Homme.
                        </li>
                        <li>
                            <strong>Les associations :</strong> France Alzheimer.
                        </li>
                    </ul>
                </section> #}
            </section>
        </div>
        <div class="banner banner--right"></div>
      </div>
    </main>
{% endblock %}
